# IDE
.idea
.vscode
*.xml

# deps / builds
/node_modules
/.pnp
.pnp.js
/.next/
/out/
/build

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/misc
.DS_Store
*.pem

# env (секреты)
.env
.env.*
*.env
*.env.*
!.env.example

# vercel
.vercel

# ts
*.tsbuildinfo
next-env.d.ts
